@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bin's Azure site --Visual Studio 2022 --GitHub Actions</h1>
    <h3>Greeting: @ViewData["Greeting"]</h3>
    <h3>Greeting Secret: @ViewData["Greeting_Sercret"]</h3>
</div>
